---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../../content/blog/*.md');
  return [
    { params: { tag: "thinking" },props: {posts: allPosts} },
    { params: { tag: "shell" },props: {posts: allPosts} },
    { params: { tag: "config" },props: {posts: allPosts} },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));
---

<!DOCTYPE html>
<html lang="en">

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
	<Header title={SITE_TITLE} />
	<main>
		<h1>Tags / {tag}</h1>
    <p>Posts tagged with 
      <strong>{tag}</strong>
    </p>
    <ul>
      {						
        filteredPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`} rel = prefetch-intent>
            <h4 class="title">- {post.frontmatter.title}</h4>
            </a>
          </li>
        ))
      }
    </ul>
	</main>
	<Footer/>
</body>

</html>
